.container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .titles {
    background-color: #039256;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .titles h4 {
    margin: 0;
  }
  
  .stats {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-size: 18px;
  }
  
  .left,
  .right {
    flex: 1;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
  }
  
  .left {
    margin-right: 10px;
  }
  
  .right {
    margin-left: 10px;
  }